* {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(#70aa81, #ffffff);
}

header {
  color: white;
  font-size: 2rem;
  height: 7rem;
  display: flex;
  align-items: center;
}

i {
  padding: 1.5rem;
  text-shadow: #093921 1px 0 10px;
}

.logotype {
  font-family: "Playwrite GB S", cursive;
  text-shadow: #093921 1px 0 10px;
}

main {
  display: flex;
  justify-content: center;
}

section {
  border-width: 0px 20px 0px 20px;
  border-style: double;
  border-color: #093921;
  border-radius:40px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;
  color: #093921;
  margin-top: 2rem;
  padding: 3rem;
  width: 50vw;
}

h1 {  
  font-family: "Montserrat", sans-serif;
}

 .welcome, .storyText{
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  background-color: #eefbf0;
  color:#093921;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 2rem 0 2rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  margin: 2rem 0;
}

button:hover {
  background-color: #66996d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button:active {
  background-color: #205827;
}


footer {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

